html,
body {
	padding: 0;
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
		Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* summary details styling */
#nested_accordion div.summary {
	min-height: auto;
}

.sub-summary {
	padding-left: 2rem;
}

.sub-summary.no-shadow {
	box-shadow: none;
}

.title {
	margin-top: 1rem;
	display: flex;
	justify-content: space-between;
}

.summary-title {
	display: flex;
	align-items: center;
	margin-left: 0.5em;
}

.primary-accordion .details,
.summary .details,
.sub-summary .details {
	margin-left: 3.5em;
}

.primary-accordion .btn,
.summary .btn,
.sub-summary .btn {
	margin-left: calc(2rem + 16px);
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
}

/* title and buttons */
.buttons-container {
	display: flex;
	gap: 10px;
}

div.title-with-buttons-container {
	flex-direction: column;
	align-items: start;
}

@media screen and (min-width: 768px) {
	div.title-with-buttons-container {
		flex-direction: row;
		align-items: end;
		justify-content: space-between;
	}
}

/* dialog/modal related style */
.modal-button-container {
	margin-top: 1rem;
	display: flex;
	flex-direction: column;
	gap: 10px;
}

@media screen and (min-width: 768px) {
	.modal-button-container {
		flex-direction: row;
		justify-content: end;
	}
}
