html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

#nested_accordion div.summary {
  min-height: auto;
}

.sub-summary {
  padding-left: 2rem;
  /* box-shadow: none; */
}

.sub-summary.no-shadow {
  box-shadow: none;
}

.description {
  font-size: 14px;
}
